@charset "utf-8";
.sys_article_index .tpl-btns .row {
    padding-left: 10px;
}

.sys_article_index th.opt-check {
    width: 35px;
}

.sys_article_index .table {
    table-layout: fixed;
}

.sys_article_index .orderBy .icon-close {
    display: none;
}

.sys_article_index .number,.sys_article_viewcount .number{
    width: 4%;
}

.sys_article_index .table-opt .name,.sys_article_index .author,.sys_article_viewcount .table-opt .icon-line-chart,.sys_article_viewcount .articleTitle .name,.sys_article_viewcount .professorName .author{
    cursor:pointer;
}

.sys_article_sort, .sys_article_subject,.sys_article_colnum {
    width: 600px;
    height: 200px;
}

.sys_article_colnum {
    height: 400px;
}
.sys_article_subject {
    height: 250px;
}

.sys_article_sort .content, .sys_article_colnum .content {
    font-size: 25px;
    font-weight: bold;
}

.sys_article_subject .orgSize.dyn-mselect .icon-drop {
    display: none !important;
}

.sys_article_subject .orgSize.dyn-mselect .dd-drop {
    display: none !important;
}

.sys_article_subject .orgSize.dyn-mselect .placeholder {
    display: none !important;
}

.sys_article_count,.sys_article_total{
    width:900px;
    height:600px;
}

.sys_article_count #type,.sys_article_total #type{
    left:20px;
}

.sys_article_viewcount .tpl-btns .row {
    padding-left: 10px;
}

.sys_article_viewcount th.opt-check {
    width: 35px;
}

.sys_article_viewcount .table {
    table-layout: fixed;
}

.sys_article_viewcount #total{
    left:18%;
}

.sys_article_relate {
    width: 900px;
    height: 900px;
}

.sys_article_relate .content, .sys_disbanner_insert .content {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.sys_disbanner_insert .pics {
    position: absolute;
    top: 140px;
    right: 110px;
}

.sys_disbanner_insert {
    width: 800px;
    height: 450px;
    padding: 0 20px 10px;
}