@charset "utf-8";
.sys_consult_index .tpl-btns .row{
    padding-left: 10px;
}
.sys_consult_index th.opt-check,.sys_consult_index td.opt-check{
    width: 30px;
}
.sys_consult_index .table-opt .name{
    cursor:pointer;
}
.sys_consult_edit{
    width:800px;
}

.sys_consult_msgcnt{
    width: 800px;
    height: 600px;
    padding: 0 20px 10px;
}

.sys_consult_msgcnt .right2{
    text-align: right;
}