@charset "utf-8";
.sys_customer_new{
    width:800px;
}
.sys_customer_myindex .tpl-btns .row{
    padding-left: 10px;
}
.sys_customer_myindex th.opt-check,.sys_customer_myindex td.opt-check{
    width: 30px;
}
.sys_customer_myedit,.sys_customer_myindex_mail{
    width:800px;
}
.sys_customer_index .tpl-btns .row{
    padding-left: 10px;
}
.sys_customer_index th.opt-check,.sys_customer_index td.opt-check{
    width: 30px;
}
.sys_customer_salesindex .tpl-btns .row{
    padding-left: 10px;
}
.sys_customer_salesindex th.opt-check,.sys_customer_salesindex td.opt-check{
    width: 30px;
}
.sys_customer_salesedit{
    width:800px;
}
.sys_customer_allindex .table-opt .name,.sys_customer_myindex .table-opt .name, .sys_customer_salesindex .table-opt .name,.sys_customer_index .table-opt .name{
    cursor:pointer;
}
.temtextarea{width: 100%;height: 80px;margin-top: 8px;border: none;border: 1px solid #ccc; border-radius: 4px;}

.sys_customer_myedit .state1{
    text-align:right;
}
