@charset "utf-8";
.sys_demand_index .tpl-btns .row{
    padding-left: 10px;
}
.sys_demand_index th.opt-check,.sys_demand_index td.opt-check{
    width: 30px;
}
.sys_demand_index .table-opt .title{
    cursor:pointer;
}
.sys_demand_index td.table-opt.col-1.random {
    padding: 1px;
}
.sys_demand_edit{
    width:800px;
}

.sys_demand_index td.table-opt.edit {
    padding: 1px;
    text-align: center;
}

.sys_demand_index .state2,.sys_demand_index .state3{
    display: none;
}