@charset "utf-8";
.sys_expert_edit {
    width: 60%;
    max-width: 800px;
    min-width: 640px;
}

.sys_expert_index .queryForm {
    position: relative;
}

.sys_expert_index .queryForm .icon-search {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 25px;
}

.sys_expert_index .table-opt .icon {
    margin: 10px;
    font-size: 20px;
}