@charset "utf-8";
.sys_role_index .queryForm{
	position: relative;
}
.sys_role_index .queryForm .icon-search{
	position: absolute;
	top:7px;
	right:15px;
	font-size:25px;
}
.sys_role_index .table-opt .icon {
	margin: 10px;
	font-size: 20px;
}
.sys_role_new,.sys_role_display,.sys_role_edit{
	width:600px;
	padding: 10px;
}
.sys_role_new .right-ctn,.sys_role_display  .right-ctn,.sys_role_edit  .right-ctn{
	max-height: 200px;
	padding: 20px;
	overflow: auto;
}
